[flake8]
max-line-length = 80
exclude =
    */migrations/*
    */settings.py
    */asgi.py
    */wsgi.py
    */manage.py
[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 80
known_third_party = ["django"]
[tool.black]
line-length = 80
